name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Установка Python 3.13.5
        uses: actions/setup-python@v5
        with:
          python-version: '3.13.5'

      - name: Установка зависимостей
        run: |
          pip install -r requirements.txt

      - name: Запуск тестов
        run: |
          python -m pytest tests/ -v --tb=short
  deploy:
     name: Deploy
     needs: test
     if: success()
     runs-on: self-hosted
     steps:
       - name: Deploy to production server
         run: |
           cd ${{ secrets.DEPLOY_PATH }}
           git pull origin main
